<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'/>

    <title>Login</title>

    <style>
        .login-form {
            width: 25rem;
            height: 18.75rem;
            position: fixed;
            top: 50%;
            margin-top: -9.375rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
    </style>

</head>
<body class="bg-darkTeal">
<div class="login-form padding20 block-shadow">
    <form method="post" name="login">
        <h1 class="text-light">OAuth2.0 for {$client_name}</h1>
        <hr class="thin"/>
        <br/>
        <div class="input-control text full-size" data-role="input">
            <label>User email:</label>
            <input type="text" name="username">
            <button class="button helper-button clear"><span class="mif-cross"></span></button>
        </div>
        <br/>
        <br/>
        <div class="input-control password full-size" data-role="input">
            <label>User password:</label>
            <input type="password" name="password">
            <button class="button helper-button reveal"><span class="mif-looks"></span></button>
        </div>
        <br/>
        <input type="hidden" name="response_type" value="{$response_type}"/>
        <input type="hidden" name="client_id" value="{$client_id}"/>
        <input type="hidden" name="state" value="{$state}"/>
        <br/>
        <div class="form-actions">
            <button id="submit" class="button primary">Go</button>
        </div>
    </form>
    <script src="/isea/index.js"></script>
    <script>

        if ((BROWSER.type == "ie") && (BROWSER.version < 10)) {
            alert('你的浏览器版本过低');
        } else {
            isea.loader.use("metro", function () {
                isea.loader.use("jquery", function () {
                    isea.metro.solve(function () {
                        $(".login-form").css({
                            opacity: 1,
                            "-webkit-transform": "scale(1)",
                            "transform": "scale(1)",
                            "-webkit-transition": ".5s",
                            "transition": ".5s"
                        });

                        isea.loader.use('encrypt', function () {
                            $("#submit").click(function () {
                                var input = $("input[name=password]");
                                input.val(isea.encrypt.md5(isea.encrypt.sha1(input.val())));
                                document.login.submit();
                            });
                        });
                    });
                });
            });
        }

    </script>
</div>
</body>
</html>