<div layout-gt-md="row">
    <panel-widget flex title="Memory load" template="{{cc.baseurl}}/app/views/partials/memory.html"
                  class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="Usage Stats" template="{{cc.baseurl}}/app/views/partials/usage.html"
                  class="fixed-height-widget"></panel-widget>

</div>
<div layout-gt-md="row">
    <panel-widget flex title="Performance" template="{{cc.baseurl}}/app/views/partials/performance.html"
                  options="true"></panel-widget>
</div>
