<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
        <label>Username</label>
        <input ng-model="vm.user.title">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="vm.user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding">
    <div layout layout-sm="column">
        <!--<md-input-container flex="80">-->
        <!--<label>Company (Disabled)</label>-->
        <!--<input ng-model="vm.user.company" disabled>-->
        <!--</md-input-container>-->
        <md-input-container flex>
            <label>Birthday</label>
            <input type="date" ng-model="vm.user.birthday">
        </md-input-container>
        <md-input-container flex="30">
            <label>Phone</label>
            <input type="text" ng-model="vm.user.phone">
        </md-input-container>
        <md-input-container flex="30">
            <label>Nickname</label>
            <input type="text" ng-model="vm.user.nickname">
        </md-input-container>
        <md-input-container flex="20">
            <label>Sex</label>
            <md-select name="sex" ng-model="vm.user.sex" required="">
                <md-option value="1">Man</md-option>
                <md-option value="0">Women</md-option>
            </md-select>
            <div class="errors" ng-messages="">
                <div ng-message="required">Required</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>First Name</label>
            <input ng-model="vm.user.firstName"
                   placeholder="Placeholder text">
        </md-input-container>
        <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="vm.user.lastName">
        </md-input-container>
    </div>
</md-content>
<md-content md-theme="dark" layout="row">
    <md-button class="md-raised">Save</md-button>
</md-content>
