<!-- Include Editor style. -->
<link href='http://cdn.bootcss.com/froala-editor/2.4.0/css/froala_editor.min.css' rel='stylesheet' type='text/css'/>
<link href='http://cdn.bootcss.com/froala-editor/2.4.0/css/froala_style.min.css' rel='stylesheet' type='text/css'/>
<!-- Include JS file. -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
<script src='http://cdn.bootcss.com/froala-editor/2.4.0/js/froala_editor.min.js'></script>
<style>
    body {
        text-align: center;
    }

    div#editor {
        width: 81%;
        margin: auto;
        text-align: left;
    }

    .class1 {
        border-radius: 10%;
        border: 2px solid #efefef;
    }

    .class2 {
        opacity: 0.5;
    }
</style>

<div id="editor">
    <div id='edit' style="margin-top: 30px;">
        <h1>Insert as Base64</h1>

        <p>Using the <code>image.beforeUpload</code> event, the images can be inserted as base64 instead of being
            uploaded to the server.</p>
    </div>
</div>
<script>
    $(function () {
        $('#edit').froalaEditor()
                .on('froalaEditor.image.beforeUpload', function (e, editor, files) {
                    if (files.length) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var result = e.target.result;

                            editor.image.insert(result, null, null, editor.image.get());
                        };

                        reader.readAsDataURL(files[0]);
                    }

                    return false;
                })
    });
</script>