<div ng-controller="MarkbookController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Markbook
        </div>
        <div class="panel-body">
            <table id="mTable" class="table table-bordered" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>
<div id="mModal">
    <form class="form-horizontal" role="form" id="mForm">
        <div class="form-group">
            <label class="col-sm-4 control-label">name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">category</label>
            <div class="col-sm-4">
                <select class="form-control" name="category">
                    <option value="0">默认</option>
                </select>
            </div>
        </div>
        <input name="id" type="hidden">
    </form>
</div>