<div ng-controller="MemberController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            RBCA
        </div>
        <div class="panel-body">
            <div id="nav"></div>
            <br>
            <div class="container" id="mr">
                <div class="row">
                    <div class="col-md-6">
                        <table id="mTable" class="table table-bordered" cellspacing="0" width="100%"></table>
                    </div>
                    <div class="col-md-6">
                        <table id="rTable" class="table table-bordered" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
