<div ng-controller="MemberController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            RBCA
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{roleauth}}">RoleAuth</a></li>
                <li><a href="{{memberrole}}">MemberRole</a></li>
            </ul>
            <p>&nbsp;</p>
            <div class="container" id="ra">
                <div class="row">
                    <div class="col-md-6">
                        <table id="rTable" class="table table-bordered" cellspacing="0" width="100%"></table>
                    </div>
                    <div class="col-md-6">
                        <table id="aTable" class="table table-bordered" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>