<div ng-controller="PgyRawDataController">
    <style>
        #customerlist tr {
            cursor: default;
        }
    </style>
    <div class="panel panel-default">
        <div class="panel-heading">
            客戶列表
        </div>
        <div class="panel-body">

            <table id="iTable" data-type="customer" class="table table-bordered" cellspacing="0" width="100%"></table>

        </div>
    </div>

    <div id="customerModal">
        <form class="form-horizontal" role="form" id="customerForm">
            <div class="form-group">
                <label class="col-sm-1 control-label">名字</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="name">
                </div>
                <label class="col-sm-1 control-label">手机</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="phone">
                </div>
                <label class="col-sm-1 control-label">idCard</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="idCard">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">education</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="education">
                </div>
                <label class="col-sm-1 control-label">company</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="company">
                </div>
                <label class="col-sm-1 control-label">address</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">email</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="email">
                </div>
                <label class="col-sm-1 control-label">sex</label>
                <div class="col-sm-3">
                    <select class="form-control" name="sex">
                        <option value="" selected></option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">微信openid</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="wx_openid">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">age</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="age">
                </div>
                <label class="col-sm-1 control-label">hujidizhi</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="hujidizhi">
                </div>
                <label class="col-sm-1 control-label">manager</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="manager">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">status</label>
                <div class="col-sm-3">
                    <select class="form-control" name="status">
                        <option value="0" selected>新用户</option>
                        <option value="1">待审核</option>
                        <option value="2">已通过</option>
                        <option value="3">未通过</option>
                        <option value="4">系统老用户</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">comment</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="comment">
                </div>
                <label class="col-sm-1 control-label">type</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="type">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">csnote</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="csnote">
                </div>
                <label class="col-sm-1 control-label">审核员</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="verifyBy">
                </div>
                <label class="col-sm-1 control-label">排序</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="orderNo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">zbfk_time</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="zbfk_time">
                </div>
                <label class="col-sm-1 control-label">zbfk_comment</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="zbfk_comment">
                </div>
                <label class="col-sm-1 control-label">input_zhima</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="input_zhima">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">放款员</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" name="fk_uid">
                </div>
                <label class="col-sm-1 control-label">催收员</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" name="cs_uid">
                </div>
                <label class="col-sm-1 control-label">身份证</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="shenfenzheng_img">
                </div>
            </div>
        </form>
    </div>
</div>
