<!doctype html>
<html lang="en" ng-app="RDash">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RDash</title>
    <!-- STYLES -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/angular-material/1.1.1/angular-material.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/components/rdash-ui/dist/css/rdash.css">

    <!-- SCRIPTS -->
    <script src="http://cdn.bootcss.com/angular.js/1.5.9/angular.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
<div id="page-wrapper" ng-class="{ 'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
                    Sharina
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="#" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#" target="_blank">
                    About
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#">
                    Support
                </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <img ng-src="{{avatar}}">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" id="dropdown-menu">
                                <li class="dropdown-header">{{username}}</li>
                                <!--<li ng-repeat="x in usermenu" class="link"><a href="{{x.url}}">{{x.title}}</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li ng-repeat="y in generalmenu" class="link"><a href="{{y.url}}">{{y.title}}</a></li>-->
                            </ul>
                        </div>
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            Dashboard
                        </div>
                        <div class="breadcrumb-links">
                            Home / Dashboard
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <div ui-view></div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->

<!--  angular material -->
<script src="http://cdn.bootcss.com/angular.js/1.5.9/angular-animate.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.5.9/angular-aria.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.5.9/angular-messages.min.js"></script>

<script src="http://cdn.bootcss.com/angular-material/1.1.1/angular-material.min.js"></script>

<script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.min.js"></script>
<script src="http://cdn.bootcss.com/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>

<script type="text/javascript" src="/static/components/angular-cookies/angular-cookies.min.js"></script>

<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="/isea/index.js"></script>
<script type="text/javascript" src="/static/js/dashboard.js"></script>
</body>
</html>
